name: ecotrack
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  geolocator: ^10.1.0
  flutter_local_notifications: ^17.1.0
  firebase_analytics: ^10.8.0
  firebase_auth: ^4.17.4
  firebase_core: ^2.25.4
  firebase_database: ^10.4.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
